#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  .nav-logo {
    width: 47px;
    height: 56px;
    pointer-events: all;
    order: 1;
  }
  .nav-hamburger {
    display: flex;
    align-items: center;
    gap: 20px;
    pointer-events: all;
    svg {
      width: 34px;
      height: 34px;
    }
  }
  .nav-contact {
    pointer-events: all;
    order: 1;
  }
}

#gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88.57143vw;
  height: fit-content;
  margin-top: 60px;
  margin-inline: auto;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.06em;
}

.pagination-area {
  display: none;
  position: absolute;
  bottom: 80px;
  left: calc(5.71429vw - 4px);
  height: 18px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.06em;
  transform-origin: left top;
  transform: translateY(100%) rotate(-90deg);
  overflow: hidden;
  .page-list {
    // transform: translateY(-18px);
    .page-item {
      display: flex;
      gap: 20px;
      .page {
        display: flex;
        gap: 6px;
        span:nth-child(2) {
          opacity: 0.4;
        }
        .total {
          opacity: 0.4;
        }
      }
    }
  }
}
